@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model List<WTechCoreSample.Models.ORM.AdminUser>




<table class="table">
    <tr>
        <td>Name</td>
        <td>SurName</td>
        <td>Email</td>
        <td>Password</td>
        <td>Update</td>
        <td>Delete</td>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.SurName</td>
            <td>@item.EMail</td>
             <td>@item.Password</td>
            <td><a href="/AdminUser/UpdateAdminUser/@item.Id">Update</a></td>
            <td><a href="/AdminUser/PostDelete/@item.Id">Delete</a></td>
        </tr>
    }

</table>